Repository aeecleclair/Titan, pull requests merged in 2023-10, with the labels that each got.

#181 fix: checking date instead of string
  lib/booking/ui/pages/booking_pages/add_edit_booking_page.dart
  lib/event/ui/pages/event_pages/add_edit_event_page.dart
  lib/tools/functions.dart
  pubspec.lock
Labels: core, ready for review, fix bug

#180 Fixing-advert
  lib/advert/notification_service.dart
  lib/advert/router.dart
  lib/advert/ui/components/advert_card.dart
  lib/advert/ui/components/announcer_bar.dart
  lib/advert/ui/components/tag_chip.dart
  lib/advert/ui/pages/admin_page/admin_advert_card.dart
  lib/advert/ui/pages/admin_page/admin_page.dart
  lib/advert/ui/pages/advert.dart
  lib/advert/ui/pages/detail_page/detail.dart
  lib/advert/ui/pages/form_page/add_edit_advert_page.dart
  lib/advert/ui/pages/main_page/main_page.dart
  lib/advert/ui/tools/advert_card.dart
  lib/router.dart
  lib/settings/providers/module_list_provider.dart
Labels: ready for review, fix bug, advert

#183 Multi voter campaign
  lib/settings/providers/module_list_provider.dart
  lib/vote/class/voter.dart
  lib/vote/providers/can_vote_provider.dart
  lib/vote/providers/is_ae_member_provider.dart
  lib/vote/providers/voter_list_provider.dart
  lib/vote/providers/voting_group_list_provider.dart
  lib/vote/repositories/voter_repository.dart
  lib/vote/tools/constants.dart
  lib/vote/ui/pages/admin_page/admin_page.dart
  lib/vote/ui/pages/admin_page/voter_chip.dart
  lib/vote/ui/pages/admin_page/voters_bar.dart
  lib/vote/ui/pages/main_page/main_page.dart
  lib/vote/ui/vote.dart
Labels: enhancement, ready for review

#176 Rework of booking module to create groups that can manage rooms
  lib/booking/class/booking.dart
  lib/booking/class/manager.dart
  lib/booking/class/room.dart
  lib/booking/providers/booking_list_provider.dart
  lib/booking/providers/is_admin_provider.dart
  lib/booking/providers/is_manager_provider.dart
  lib/booking/providers/manager_id_provider.dart
  lib/booking/providers/manager_list_provider.dart
  lib/booking/providers/manager_provider.dart
  lib/booking/providers/user_manager_list_provider.dart
  lib/booking/repositories/booking_repository.dart
  lib/booking/repositories/manager_repository.dart
  lib/booking/repositories/rooms_repository.dart
  lib/booking/repositories/user_booking_repository.dart
  lib/booking/router.dart
  lib/booking/tools/constants.dart
  lib/booking/ui/calendar.dart
  lib/booking/ui/pages/admin_pages/add_edit_manager_page.dart
  lib/booking/ui/pages/admin_pages/add_edit_room_page.dart
  lib/booking/ui/pages/admin_pages/admin_chip.dart
  lib/booking/ui/pages/admin_pages/admin_entry.dart
  lib/booking/ui/pages/admin_pages/admin_page.dart
  lib/booking/ui/pages/admin_pages/admin_scroll_chips.dart
  lib/booking/ui/pages/admin_pages/admin_shrink_button.dart
  lib/booking/ui/pages/booking_pages/add_edit_booking_page.dart
  lib/booking/ui/pages/main_page/main_page.dart
  lib/booking/ui/pages/manager_page/list_booking.dart
  lib/booking/ui/pages/manager_page/manager_page.dart
  lib/booking/ui/pages/room_pages/add_edit_room_page.dart
Labels: enhancement, ready for review, booking
