Repository aeecleclair/Titan, pull requests merged in 2024-01, with the labels that each got.

#224 Fixing visibility expansion panel toggle
  lib/admin/providers/is_expanded_list_provider.dart
  lib/admin/ui/pages/edit_module_visibility/modules_expansion_panel.dart
Labels: ready for review, fix bug

#239 fix: using advert date when editing
  lib/advert/ui/pages/form_page/add_edit_advert_page.dart
Labels: ready for review, fix bug, advert

#185 Improving details of booking showed when tapped on calendar
  lib/booking/class/booking.dart
  lib/booking/notification_service.dart
  lib/booking/providers/booking_list_provider.dart
  lib/booking/providers/manager_booking_list_provider.dart
  lib/booking/providers/manager_confirmed_booking_list_provider.dart
  lib/booking/providers/selected_days_provider.dart
  lib/booking/providers/user_booking_list_provider.dart
  lib/booking/providers/user_manager_list_provider.dart
  lib/booking/repositories/booking_repository.dart
  lib/booking/repositories/manager_repository.dart
  lib/booking/repositories/user_booking_repository.dart
  lib/booking/router.dart
  lib/booking/tools/constants.dart
  lib/booking/tools/functions.dart
  lib/booking/ui/calendar/appointment_data_source.dart
  lib/booking/ui/calendar/calendar.dart
  lib/booking/ui/calendar/calendar_dialog.dart
  lib/booking/ui/calendar/calendar_dialog_button.dart
  lib/booking/ui/components/booking_card.dart
  lib/booking/ui/pages/admin_pages/add_edit_manager_page.dart
  lib/booking/ui/pages/admin_pages/add_edit_room_page.dart
  lib/booking/ui/pages/admin_pages/admin_chip.dart
  lib/booking/ui/pages/admin_pages/admin_page.dart
  lib/booking/ui/pages/admin_pages/admin_scroll_chips.dart
  lib/booking/ui/pages/booking_pages/add_edit_booking_page.dart
  lib/booking/ui/pages/detail_pages/detail_booking.dart
  lib/booking/ui/pages/main_page/main_page.dart
  lib/booking/ui/pages/manager_page/list_booking.dart
  lib/booking/ui/pages/manager_page/manager_page.dart
  lib/event/ui/pages/detail_page/detail_page.dart
  lib/user/class/applicant.dart
  test/booking/booking_list_provider_test.dart
  test/booking/booking_test.dart
  test/booking/confirmed_booking_list_provider_test.dart
  test/booking/manager_booking_list_provider_test.dart
  test/booking/room_list_provider_test.dart
  test/booking/selected_days_provider_test.dart
  test/booking/user_booking_list_provider_test.dart
Labels: enhancement, waiting backend, booking

#244 feat: using initial date before now date
  lib/tools/functions.dart
Labels: core, ready for review, fix bug

#249 Enhance image picker
  lib/advert/ui/pages/form_page/add_edit_advert_page.dart
  lib/raffle/ui/pages/creation_edit_page/creation_edit_page.dart
  lib/tools/constants.dart
  lib/tools/ui/widgets/image_picker_on_tap.dart
  lib/vote/ui/pages/contender_pages/add_edit_contender.dart
Labels: enhancement, ready for review

#243 Fix/fixing-loan-item-search
  lib/loan/ui/loan.dart
  lib/loan/ui/pages/admin_page/loaners_items.dart
  lib/loan/ui/pages/admin_page/on_going_loan.dart
  lib/loan/ui/pages/loan_group_page/add_edit_loan_page.dart
Labels: ready for review, fix bug, loan
